body {
  font-family: Open Sans, sans-serif;
}
span {
  color: #111;
}
.node-table .drive span {
  background-color: #bbf;
}
.node-table .directory span {
  background-color: #f1c40f;
}
.node-table .file span {
  background-color: #ccc;
}
.node-table .node-item {
  margin-bottom: 5px;
}
.node-table .node-item span {
  padding: 0 10px;
}
.node-table .node-item span:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 0 0 0 #323232;
  -moz-box-shadow: inset 2px 0 0 0 #323232;
  box-shadow: inset 2px 0 0 0 #323232;
}
.node-table .node-item span .size {
  font-weight: bold;
  padding-left: 5px;
}
.node-table .node-item span .size:hover {
  box-shadow: none;
}
.hover {
  cursor: default;
  color: red;
  font-weight: bold;
}
.goback {
  width: 100px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  background-color: #eeeeee;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.goback:hover {
  cursor: pointer;
}