@color-node-background-1: #efefef;
@color-node-background-2: #dfdfdf;
@color-node-highlight-line: #323232;
@color-drive: #bbf;
@color-directory: #f1c40f;
@color-file: #ccc;

@font: Open Sans, sans-serif;

@height-node-item: 28px;
@margin-elements: 7px;

body {
    font-family: @font;
}

span {
    color: #111;
}

.current-directory{
    margin-bottom: @margin-elements;
}

.value {
    font-weight: bold;
}

.node-table {
    margin-top: 8px;

    .node-item {
        margin-bottom: 5px;

        span {
            padding: 0 10px;

            &:hover {
                cursor: pointer;
                -webkit-box-shadow: inset 2px 0 0 0 @color-node-highlight-line;
                -moz-box-shadow: inset 2px 0 0 0 @color-node-highlight-line;
                box-shadow: inset 2px 0 0 0 @color-node-highlight-line;
            }

            .size {
                font-weight: bold;
                padding-left: 5px;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    .drive span {
        background-color: @color-drive;
    }

    .directory span {
        background-color: @color-directory;
    }

    .file span {
        background-color: @color-file;
        cursor: default !important;
    }
}

.hover {
    cursor: default;
    color: red;
    font-weight: bold;
}

.goback {
    width: 100px;
    height: @height-node-item;
    line-height: @height-node-item - 2;
    text-align: center;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
    }
}
