<!DOCTYPE html>
<html ng-app="filesExplorerApp">
<head>
    <meta charset="utf-8" />
    <title>FilesExplorer</title>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Business/app.js"></script>
    <script src="Scripts/Business/nodeController.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="Content/index.css" rel="stylesheet" />
</head>
<body ng-controller="nodeController">
    <div class="current-directory" ng-model="currentPath">Current directory: <span class="value">{{currentPath}}</span></div>

    <div class="counter" ng-model="counters"><= 10 Mb count: <span class="value">{{filters.less}}</span></div>
    <div class="counter" ng-model="counters">> 10 Mb and <= 50 Mb count: <span class="value">{{filters.between}}</span></div>
    <div class="counter" ng-model="counters">>= 100 Mb count: <span class="value">{{filters.more}}</span></div>

    <div class="node-table">
        <div>Browse:</div>

        <button class="goback"
                ng-disabled="buttonGoBackDisabled"
                ng-click="GoParentNode()">
            &#8593;
        </button>

        <div class="node-item"
             ng-repeat="node in nodeTree | filter: search | orderBy : '!IsDirectory'"
             ng-class="node.Type == 'directory' ? 'directory' : (node.Type == 'file' ? 'file' : 'drive')">
            <span ng-click="SelectNode(node)">
                {{node.Name}} <span class="size">{{node.Size}}</span>
            </span>
        </div>
    </div>
</body>
</html>